.heroSection {
  width: 100%;
  height: calc(100vh - 43px - 76px);
  padding: 5%;
  background: rgb(43, 208, 219);
  background: linear-gradient(
    45deg,
    rgba(22, 216, 230, 0.733),
    rgba(28, 5, 180, 0.767)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.heroTitle h1 {
  font-weight: bolder;
  font-size: 4rem;
}

.heroTitle p {
  font-size: 1.5rem;
}

.textWhite {
  color: white;
}

.ceoGreetings {
  align-self: center;
}

.ceoGreetings p {
}

.imgOverlay {
  display: none;
}

@media only screen and (min-width: 598px) {
  .heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }
  .heroTitle {
    grid-area: 1/2/2/3;
    padding: 5%;
  }

  .ceoGreetings {
    grid-area: 1/1/2/2;
    padding: 5%;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.513);
    z-index: 10;
  }

  .ceoGreetings p {
    font-size: larger;
    text-align: justify;
  }

  .forBackgroundOverlay1 {
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1464462605615-4ff728ecc301?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
  }
  .forBackgroundOverlay2 {
    position: fixed;
    background: rgb(43, 208, 219);
    background: linear-gradient(
      90deg,
      rgba(22, 216, 230, 0.733),
      rgba(28, 5, 180, 1),
      rgba(22, 216, 230, 0.733)
    );
    width: 100%;
    height: 100vh;
  }
}

/* .hero-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.hero-wrapper-overlay {
  padding: 5%;
  justify-self: center;
  align-self: center;
}

.hero-messeage-ceo {
  grid-area: 1/1/1/1;
}

.hero-overlay {
  grid-area: 1/2/2/3;
  height: auto;
  background: rgb(43, 208, 219);
  background: linear-gradient(
    90deg,
    rgba(43, 208, 219, 0.7665265935475752) 24%,
    rgba(27, 5, 180, 1) 50%,
    rgba(43, 208, 219, 1) 76%
  );
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 2;
  grid-template-columns: 50% 50%;
}

.hero-text-h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 4rem;
  overflow: hidden;
}

/* @media only screen and (max-width: 991px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-overlay {
    background: rgb(43, 208, 219);
    background: linear-gradient(
      90deg,
      rgba(43, 208, 219, 0.7665265935475752) 26%,
      rgb(59, 39, 187) 50%
    );
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: none;
  }
} */
