.heroSection {
  width: 100%;
  height: calc(100vh - 43px - 76px);
  padding: 5%;
  background: rgb(43, 208, 219);
  background: linear-gradient(
    45deg,
    rgba(22, 216, 230, 0.733),
    rgba(28, 5, 180, 0.767)
  );
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.heroTitle h1 {
  font-weight: bolder;
  font-size: xx-large;
}

.heroTitle p {
  font-size: 100%;
}

.textWhite {
  color: white;
}

.ceoGreetings {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ceoGreetings p {
  margin: 5% 1%;
  font-size: normal;
}

.imgOverlay {
  display: none;
}

.textRed {
  color: rgb(250, 71, 51);
}

.marginParagraph {
  margin-top: 2rem;
}

.videoGreeting {
  width: 100%;
  height: 30vh;
}

.videoGreeting iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 598px) {
  .heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }
  .heroTitle {
    grid-area: 1/2/2/3;
    padding: 5%;
  }
  .heroTitle h1 {
    font-size: 3.5rem;
  }
  .heroTitle p {
    font-size: 1.5rem;
  }

  .ceoGreetings {
    grid-area: 1/1/2/2;
    padding: 5%;
    border-radius: 5px;

    z-index: 10;
  }

  .ceoGreetings p {
    font-size: larger;
    text-align: justify;
    color: white;
  }

  .forBackgroundOverlay1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../../img/hero.jpg");
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    z-index: -1;
  }
  .forBackgroundOverlay2 {
    position: fixed;
    background: rgb(43, 208, 219);
    background: linear-gradient(
      45deg,
      rgba(43, 208, 219, 0.7),
      rgba(28, 5, 180, 0.7),
      rgba(43, 208, 219, 0.7)
    );
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .videoGreeting {
    width: 100%;
    height: 30vh;
  }

  .videoGreeting iframe {
    height: 100%;
    width: 100%;
  }
}

/* .hero-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.hero-wrapper-overlay {
  padding: 5%;
  justify-self: center;
  align-self: center;
}

.hero-messeage-ceo {
  grid-area: 1/1/1/1;
}

.hero-overlay {
  grid-area: 1/2/2/3;
  height: auto;
  background: rgb(43, 208, 219);
  background: linear-gradient(
    90deg,
    rgba(43, 208, 219, 0.7665265935475752) 24%,
    rgba(27, 5, 180, 1) 50%,
    rgba(43, 208, 219, 1) 76%
  );
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 2;
  grid-template-columns: 50% 50%;
}

.hero-text-h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 4rem;
  overflow: hidden;
}

/* @media only screen and (max-width: 991px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-overlay {
    background: rgb(43, 208, 219);
    background: linear-gradient(
      90deg,
      rgba(43, 208, 219, 0.7665265935475752) 26%,
      rgb(59, 39, 187) 50%
    );
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: none;
  }
} */
